body {
  margin: 0;
  font-family: arial, sans-serif;
  text-align: center;
}

header {
  padding: 20px;
  background-color: #333;
  color: white;
}

nav {
  margin: 20px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

nav li {
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  background-color: #555;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #888;
}

.blog-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  animation: fadein 1s;
  flex-wrap: wrap;
}

article {
  border: 1px solid #ccc;
  padding: 15px;
  flex: 1;
  min-width: 300px;
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 20x auto;
  gap: 10px;
}

label {
  text-align: left;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
border-color: blue;
background-color: #f0f8ff;
}
@keyframes fadein {
  from { 
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Phones */
@media (max-width: 767px) {
  .blog-container {
    flex-direction: column;
  }
}

/* Tables */
@media (min-width: 768px) and (max-width: 1024px) {
  .blog-container {
    flex-direction: row;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .blog-container {
    flex-direction: row;
  }
}


